.ab_TitleBar{
    background-color: #182026;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: 50px auto 138px;
    box-sizing: border-box;
    -webkit-app-region: drag;
}

/*  Window control Styles  */
.ab_TB_WinControls
{
    -webkit-app-region: no-drag;
    display: flex;
    flex-direction: row;
}
.ab_icons
{
    justify-content: center;
    align-items: center;
    width: 46px;
}
.ab_minimizeIcon
{
    background: url('../media/minimize.svg');
    background-repeat: no-repeat;
	background-position: center center;
}
.ab_minimizeIcon:hover{
    filter: brightness(3.5); 
    background-color: rgba(255, 255, 255, 0.1);
}
.ab_maximizeIcon
{
    background: url('../media/maximize.svg');
    background-repeat: no-repeat;
	background-position: center center;
}
.ab_maximizeIcon:hover{
    filter: brightness(3.5);
    background-color: rgba(255, 255, 255, 0.1);
}
.ab_restoreIcon
{
    background: url('../media/restore.svg');
    background-repeat: no-repeat;
	background-position: center center;
}
.ab_restoreIcon:hover{
    filter: brightness(3.5);
    background-color: rgba(255, 255, 255, 0.1);
}
.ab_closeIcon
{
    background: url('../media/close.svg');
    background-repeat: no-repeat;
	background-position: center center;
}
.ab_closeIcon:hover{
    background: url('../media/closeLight.svg');
    background-color: rgba(232, 17, 35, 0.9);
    background-repeat: no-repeat;
	background-position: center center;
}

/*  Hamburger Options Styles  */

.ab_TB_Options{
    -webkit-app-region: no-drag;
    background: url('../media/hamburger.svg');
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    width: 50px;
    height: 35px;
}

.ab_TB_Options:hover{
    filter: brightness(3.5);
}

/*  Date Picker Styles  */
.ab_TB_DatePicker
{
    box-sizing: border-box;
    text-align: center;
    justify-items: center;
}
.ab_TB_DatePicker input{
    -webkit-app-region: no-drag;
    margin-top:8px;
    text-align: center;
    border: none;
    border-radius: 3px;
    height: 22px;
    background-color: #394B59;
    color: #d4d2d2 ;
}
.ab_TB_DatePicker input:hover{
    color: #ffff;
    filter: brightness(1.3);
}
.ab_TB_flatpickr{
    display: inline-flex;
}
.ab_TB_resetDate{
    -webkit-app-region: no-drag;
    cursor: pointer;
    height: 22px;
    width: 32px;
    border: none;
    border-radius: 3px;
    background: url("../media/history.svg");
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 8px;
    margin-left: 5px;
    background-color: #394B59;
}
.ab_TB_resetDate:hover{
    filter: brightness(1.3);
}

.ab_TB_PreviousDate{
    -webkit-app-region: no-drag;
    cursor: pointer;
    height: 22px;
    width: 32px;
    border: none;
    border-radius: 3px;
    background: url("../media/previous.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 20px;
    margin-top: 8px;
    margin-right: 5px;
    background-color: #394B59;
}
.ab_TB_PreviousDate:hover{
    filter: brightness(1.3);
}
.ab_TB_NextDate{
    -webkit-app-region: no-drag;
    cursor: pointer;
    height: 22px;
    width: 32px;
    border: none;
    border-radius: 3px;
    background: url("../media/next.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 20px;
    margin-top: 8px;
    margin-left: 5px;
    background-color: #394B59;
}
.ab_TB_NextDate:hover{
    filter: brightness(1.3);
}