@mixin noteText() {
    &--text{
        padding: 10px;
        font-size: 14px;
        width: 100%;
        outline: none!important;
        &:empty{
            &::before{
                color: 	#192227;
                content: 'Add your notes...';
            }
        }
    }
}